#SinglePage {
  display: flex;
  flex-direction: column;
  .main-card {
    flex-grow: 1;
    $logo-color: rgb(245, 130, 31);

    .div-search {
      display: flex;
      justify-content: space-between;
      padding: 30px 100px;
      button {
        padding: 10px 40px;
        background-color: $logo-color;
        border: none;
        border-radius: 20px;
        color: white;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        &:active {
          background-color: transparent;
          color: $logo-color;
        }
      }
      > div {
        display: flex;
        align-items: center;
        img {
          height: 30px;
          margin-right: 10px;
        }
        input {
          padding: 10px 20px;
          border-radius: 20px;
          outline: none;
          border: 2px solid $logo-color;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
}
